body {
  font-family: "Arial";
}

#wrapper {
  width: 100%;
  height: 100%;
}

#header {
  height: 10%;
  width: 100%;
  background-color: #2e2e36;
  color: white;
  border-bottom: 2px solid #ddd;
}

#headSub {
  width: 100%;
  position: relative;
  z-index: 5;
  height: 200px;
  background-image: url("http://localhost:81/symfony/web/Images/thinker.jpg");
  background-position:center;
  background-size:contain;
  background-repeat: no-repeat;
  background-color: #000;
  box-shadow: 0 2px 7px 0 rgba(0,0,0,0.75);
}

#main {
  height: 60%;
  width: 98%;
  padding: 1%;
  background-color: #e0e0f0;
}

#footer {
  height: 5%;
  width: 100%;
  background-color: #0f0f0f;
}

.post {
  padding: 10px;
  width: 75%;
  height: auto;
  margin-left:auto;
  margin-right: auto;
  margin-bottom: 20px;
  background-color: #fff;
  border: #f0f8ff thin solid;
  box-shadow: 2px 2px 7px 1px rgba(0,0,0,0.75);
  border-radius: 5px;
}

.post .blogHead {
  font-weight: bold;
}

.time {
  padding: 5px;
  font-style: italic;
}

.post .content {
  float: left;
  padding: 5px;
  margin-left: 20px;
}

.post .image {
  padding: 5px;
  float: left;
  border: solid 1px #ccc;
  box-shadow: 2px -2px 7px 1px rgba(0,0,0,0.75) inset;
  background-color: #ddd;
  margin-left: 20px;
}

.post .image img {
  width: 150px;
  height: auto;
}

#copy {
  color: white;
  text-align: center;
  margin: auto;
}

#header #logo {
  margin-left: 1.5em;
}

#header #logo img {
  position: relative;
  float: left;
  height: 65%;
  width: auto;
  margin-top: 20px;
}

#header #logo h1 {
  float: left;
  margin-left: 2em;
  font-size: 3em;
}

.clrflt {
  clear: both;
}
